<html>
   <body>
   		<table>
   			{% for task in tasks %}
         	<tr><td><strong> name {{task.name}}</strong></td>         	
         	<td><strong> date {{task.date_created}}</strong></td>
         	<td><strong> status  {{task.status}}</strong></td>
         	<td><strong> id {{task.id}}</strong></td>
         	<td><strong> input file {{task.input_file_path}}<td>
         	<td><a href="{% url 'test' pk=task.pk %}">output</a></td></tr>
      		{% endfor %}
   		</table>
      
   </body>
</html>